@page
@model Portfolio.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>
<ul>
    <li><a asp-page="/Admin/Projects/Index">Projects</a></li>
    <li><a asp-page="/Admin/Blog/Index">Blog</a></li>
</ul>
